<%= iui_toolbar "SwissAlert Map" %>
<%= iui_list @positions, :top => "<div class=\"listTopText\">Latest alerts</div>", :bottom => "<div class=\"listBottomText\">In the next screen, touch the map to open it on the \"Maps\" application</div>" %>
